input{
    display: block;
    border: none;
    background-color: whitesmoke;
    }
    button{
        border: none;
        box-shadow: 1px 1px 0px gray;
    }
    button:hover{
        color: gray;
    }